:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
