@import "tailwindcss";

@theme {
  --color-bg: var(--app-bg);
  --color-text: var(--app-text);
}

:root {
  --app-bg: #1f1f1f;
  --app-text: #ffffff;
}

@keyframes scan {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scan-fast {
  animation: scan 3s linear infinite;
}

.animate-scan-slow {
  animation: scan 8s linear infinite;
}

.animate-drop-fast {
  animation: drop 4s linear infinite;
}

.animate-drop-medium {
  animation: drop 6s linear infinite;
}
